<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> 
      KWBOT :: 
      <pip::template::variables>
            names
      </pip::template::variables>
  </title>
  <link rel="icon" href="img/icon.png">
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="plugins/prism/prism.css">
  <link rel="stylesheet" href="plugins/fancybox/fancybox.min.css">
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
<!--   <pip::template::variables>
            JS_CONFIG
  </pip::template::variables> -->
  
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
<!--
  <a href="jsd"></a>
  <a href="jsd"></a>
  <a href="jsd"></a>
-->
    <style>
        .catego-tabs-div {
            display: none;
        }
        .catego-tabs-div.active {
            display: block;
        }
        
        img.pip_small_icon{
           width: 35px;
           height: 35px;
           border-radius: 50%;
           border: 2px solid #000;
        }
        
    </style>
</head>