<body>
<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center KWBOT_ALL_CONTAINER_NAV" kwbot-nav="dashboard" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
          <img src="img/kwbot.png" style="width:100px; height: 100px">
        </div>
        <div class="sidebar-brand-text mx-3"> Kwbot </div>
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link KWBOT_ALL_CONTAINER_NAV" kwbot-nav="dashboard" href="#">
          <i class="fas fa-fw fa-home"></i>
          <span> Home </span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Robots
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed KWBOT_ALL_CONTAINER_NAV" kwbot-nav="vehicles" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-car"></i>
          <span> Robots </span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"> Categories: </h6>
            <a class="collapse-item KWBOT_ALL_CONTAINER_NAV" kwbot-nav="vehicles/transport" href="#">
                <i class="fa  fa-truck"></i> Transport </a>
            <a class="collapse-item KWBOT_ALL_CONTAINER_NAV" kwbot-nav="vehicles/multimedia" href="#">
                <i class="fa fa-film"></i> Multimedia </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed KWBOT_ALL_CONTAINER_NAV" kwbot-nav="paths/index" href="#">
          <i class="fas fa-fw fa-road"></i>
          <span> Paths </span>
        </a>
      </li>
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed KWBOT_ALL_CONTAINER_NAV" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span> Settings </span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Settings:</h6>
            <a class="collapse-item KWBOT_ALL_CONTAINER_NAV" href="#"><i class="fa fa-cube"></i> General </a>
            <a class="collapse-item KWBOT_ALL_CONTAINER_NAV" href="#"><i class="fa fa-film"></i> Multimedia </a>
            <a class="collapse-item KWBOT_ALL_CONTAINER_NAV" href="#"><i class="fa fa-truck"></i> Transport </a>
            <a class="collapse-item KWBOT_ALL_CONTAINER_NAV" href="#"><i class="fa fa-plus"></i>Add a category </a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Clients
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed KWBOT_ALL_CONTAINER_NAV" href="#">
          <i class="fas fa-fw fa-users"></i>
          <span> Users </span>
        </a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link KWBOT_ALL_CONTAINER_NAV" href="#">
          <i class="fas fa-fw fa-industry"></i>
          <span> Companies </span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link KWBOT_ALL_CONTAINER_NAV" href="#">
          <i class="fas fa-fw fa-cogs"></i>
          <span> Settings </span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
<!--
    <a href="hhj"></a>
    <a href="hhj"></a>
    <a href="hhj"></a>
-->
    <!-- End of Sidebar -->
    
</body>