<body id="page-top">
    <!-- Content Wrapper -->
    <pip::template::variables>
        left_navigations  
    </pip::template::variables>
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <pip::template::variables>
            top_navigation  
        </pip::template::variables>
        <!-- Begin Page Content -->
        <div class="container-fluid" id="KWBOT_ALL_CONTAINER">
			
		</div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <pip::template::variables>
            main_footer  
        </pip::template::variables>
    </div>
    <!-- End of Content Wrapper --> 
<!--   <pip::template::variables>
    JS_FUNCTIONS  
  </pip::template::variables> -->
</body>