
<div>
		<label>Enter url:</label><br>
		<textarea name="url" placeholder="Enter url" class="form-control"></textarea>
</div>
<div>
		<label>Enter __type:</label><br>
		<input name="__type" type="number" placeholder="Enter __type" class="form-control">
</div>
<div>
		<label>Enter __index:</label><br>
		<input name="__index" type="number" placeholder="Enter __index" class="form-control">
</div>
<div>
		<label>Enter __templates_pip_id:</label><br>
		<select name="__templates_parts_pip_id" class="form-control">
			<pip::form::parent::select>__templates_pip</pip::form::parent::select>
		</select>
</div>
<div>
		<label>Enter details:</label><br>
		<textarea name="details" placeholder="Enter details" class="form-control"></textarea>
</div>