
<div>
		<label>Enter name:</label><br>
		<input name="name" type="text" placeholder="Enter name" class="form-control">
</div>
<div>
		<label>Enter value:</label><br>
		<input name="value" type="text" placeholder="Enter value" class="form-control">
</div>
<div>
		<label>Enter __templates_pip_id:</label><br>
		<select name="__templates_vars_pip_id" class="form-control">
			<pip::form::parent::select>__templates_pip</pip::form::parent::select>
		</select>
</div>
<div>
		<label>Enter details:</label><br>
		<textarea name="details" placeholder="Enter details" class="form-control"></textarea>
</div>