<div class="col-md-3 item">
    <div class="box">
        <i class="fa fa-object-group icon"></i> 
            <sup>
                <span class="badge badge-danger badge-counter">100</span>
            </sup>
        <i class="fa fa-car icon"></i> 
            <sup>
                <span class="badge badge-danger badge-counter">20</span>
            </sup>
        <h3 class="name">{{name}}</h3>
        <hr>
        <div class="path-box-control-container">
            <div class="path-box-control">
                <button class="btn btn-danger btn-sm pull-right THE_REMOVER_BTN_PAGE" data-id="{{ids}}">
                    <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-info btn-sm THE_PLAYER_BTN_PAGE" data-id="{{ids}}">
                    <i class="fa fa-play"></i>
                </button>
                <button class="btn btn-success btn-sm THE_MAP_BTN_PAGE" data-id="{{ids}}">
                    <i class="fa fa-map"></i>
                </button>
            </div>
        </div>
    </div>
</div>